.starwarsData-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
grid-gap: 3vmin;
margin: 1rem;
}
h1 {
  text-align: center;
}
.SW-nav {
  width: 100%;
}

.input-search {
  text-align: center;
}